<h1>Book Registration</h1>

<form method="post" action="/addBook">
    <input type="text" name="bookName" id="bookName">
    <input type="text" name="bookAuthor" id="bookAuthor">
    <input type="text" name="bookGenre" id="bookGenre">
    <button type="submit">Add book</button>
</form>

<h2>Registered books: </h2>

{{#each books}}
    <table>
        <tr>
            <th>Book Name:</th>
            <td>{{name}}</td>
        </tr>

        <tr>
            <th>Book Author:</th>
            <td>{{author}}</td>
        </tr>

        <tr>
            <th>Book Genre:</th>
            <td>{{genre}}</td>
        </tr>
    </table>

    <a href="/editBook/{{id}}">Edit</a>
    <a href="/addBook/{{id}}">Delete</a>
{{/each}}